<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student1" class="com.spring.core.practice.Student">
        <property name="id" value="001" />
        <property name="name" value="Himanshu" />
        <property name="address" ref="address1" />
    </bean>

    <bean id="address1" class="com.spring.core.practice.Address">
        <property name="street" value="1250 Sandford Street" />
        <property name="city" value="London" />
        <property name="province" value="Ontario" />
        <property name="country" value="Canada" />
    </bean>

    <!-- more bean definitions go here -->

</beans>